@page "/SQLRunner"
@using Blazorise
@using DevToolsNet.DB.Objects.Configs
@using DevToolsNet.DB.Generator.Interfaces
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.DependencyInjection
@inherits OwningComponentBase

<PageTitle>SQLRunner</PageTitle>

<Layout>
    <LayoutHeader>
        <Bar Breakpoint="Breakpoint.Desktop" Background="Background.Dark" ThemeContrast="ThemeContrast.Dark">
            <BarMenu>
                <BarStart>
                    <BarItem><Button Color="Color.Dark" Clicked="@temp"><BarIcon IconName="IconName.AlignLeft" /></Button></BarItem>
                    <BarItem><Button Color="Color.Dark" Clicked="@temp"><BarIcon IconName="IconName.Play" /></Button></BarItem>
                    <BarItem><Button Color="Color.Dark" Clicked="@temp"><BarIcon IconName="IconName.StepForward" /></Button></BarItem>
                    <BarItem><Button Color="Color.Dark" Clicked="@temp"><BarIcon IconName="IconName.PlayCircle" /></Button></BarItem>
                </BarStart>
            </BarMenu>
        </Bar>
    </LayoutHeader>cl
    <Layout Sider >
        <LayoutSider><LayoutSiderContent>
                TRee
        </LayoutSiderContent></LayoutSider>
        <LayoutContent>
            <Tabs>
                <Items>
                    <Tab Name="home">Home</Tab>
                    <Tab Name="profile">Profile</Tab>
                    <Tab Name="messages">Messages</Tab>
                    <Tab Name="settings">Settings</Tab>
                </Items>1
                <Content>
                    <TabPanel Name="home">
                        Content for home.
                    </TabPanel>
                    <TabPanel Name="profile">
                        Content for profile.
                    </TabPanel>
                    <TabPanel Name="messages">
                        Content for messages.
                    </TabPanel>
                    <TabPanel Name="settings">
                        Content for settings.
                    </TabPanel>
                </Content>
            </Tabs>
        </LayoutContent>
    </Layout>
</Layout>

@code {

    protected override async Task OnInitializedAsync()
    {
    }

    Task temp() { return Task.CompletedTask; }

}
