@page "/wc"

<PageTitle>wcv</PageTitle>
<RadzenContent Container="main">
    <RadzenHeading Size="H1" Text="Hello, world!" />
    <p>Welcome to your new Radzen Blazor Server application.</p>
</RadzenContent>
