@inherits LayoutComponentBase

<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<RadzenLayout>
    <RadzenHeader>
        <div class="row justify-content-start align-items-center">
          <div class="col-6 d-flex align-items-center">
            <RadzenSidebarToggle Click="@SidebarToggleClick"></RadzenSidebarToggle>
            <RadzenLabel Text="TestBlazorEstudio"></RadzenLabel>
          </div>
          <div class="col-6 text-right"></div>
        </div>
    </RadzenHeader>
    <RadzenBody Expanded="@sidebarExpanded" style="background-color:var(--rz-body-background-color); color:var(--rz-text-color);">
        <RadzenContentContainer Name="main">
        @Body
        </RadzenContentContainer>
    </RadzenBody>
    <RadzenSidebar @bind-Expanded="@sidebarExpanded" Responsive="true">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Db">
                <RadzenPanelMenuItem Text="Generador" Target="generadorCodigo" />
                <RadzenPanelMenuItem Text="Ejecutor" />
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Windows">
                <RadzenPanelMenuItem Text="Servicios"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
        </RadzenPanelMenu>
    </RadzenSidebar>
</RadzenLayout>
